/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-Apr-2018, 6:41:30 PM
    Author     : Shush
*/
html {  
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*******HEADER*******/
#top { 
    margin-left: 10%;
    margin-right: 10%;     
    display: block;
    text-align: center;
  
} 

#logo {
    position: relative;     
    float: left;
    margin-left: 5%;
}

#companyName {
   position: relative;   
   text-align: center;  
}

#top h3 {
    font-family: 'Titillium Web', sans-serif;
    color: #E74C3C;
    font-size: 20px;    
}
#top h2 {
    text-shadow: 2px 2px 10px #ABEBC6;
    color: #239B56;
    font-size: 30px;   
}
/********MENU*******/
body {
  margin: 0;
}
.menue {
    position: relative;
    text-align: center;
    height:50px; 
    padding-top: 17px ;   
    background-color: #ffc890;
    margin-left: 10%;
    margin-right: 10%; 
    border-radius: 10px;
}
.btn {
    position: relative;
    margin: 20px 40px 0 0 ;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    
  
}

.menue>a:hover {
    color: #f1f1f1;
}

.menue:checked {
    color: #f1f1f1;
}

/*************MAIN***********/
#front {
    position: relative;
    height: 183px;
    width: 341px;
    margin-top: 10px;      
    border-style: solid;
    border-color: #00A351;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.middle {	
    background-color: #FCF3CF;
    margin-left: 10%;
    margin-right: 10%;   
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px 10px;
}

#text {
    padding: 0 25px;    
    font-size: 18px;
}
.middle h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    color: #00A351;
    margin-left: 700px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.middle h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #CC3300;
    margin: 10px auto 60px 700px;  
    height: 130px;
}
/*************FOOTER**********/
footer {
    height: 100px;
    background-color: #d8ffec;   
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
}
footer p {
    position: relative;
    padding-top: 40px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    color: #00A351;   
}
#qc {    
    float: right;
    position: relative;
    height: 75px; 
    margin: 15px 20px ;
}

/*********ABOUT*********/

.aboutimg{
    position: relative;    
    height: 195px;
    width: 300px;
    max-width: 24%;    
    margin-top: 20px;
    margin-left: 6%;
    border-style: solid;
    border-color: #00A351;
}
ul {
    list-style-image: url('sqpurple.gif');
}

.aboutPics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutText {
    position: relative;
    text-align: justify;
    font-size: 20px;
    line-height: 2;
    margin: 30px 20px 20px;
    font-family: none;
}

/***********TEAM***********/
#shannonPic, #jeanPic {   
    position: relative;   
    height: 200px;
    width: 200px;
    margin-left: 14%;
    margin-right: 14%;
    border-style: solid;
    border-color: #663300;
}

.middlePic1, .middlePic2 {
    display: inline-block;
    margin-left: 14%;
    margin-right: 14%;   
}

.middlePic2{
    padding-bottom: 50px;
}

.teamText {
    position: relative;     
    margin-left: 14%;    
}

/***********CONTACT********/
.address {
    position: relative;
    float: left;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    color: #CC3300;
    margin-left: 50px;
    margin-top: 20px;
    width: 300px;
}

.contactInfo {
    margin-top: -40px;
    margin-left: -200px;
    position: relative;
    display: block; 
   
}

#email {
   position: relative; 
   margin-left: 5px;
}

address {
    position: relative;    
}


/*----------Text----------*/
p {
    font-family: 'Titillium Web', sans-serif;
    color: #CC3300;
}


#ultext {
   position: relative;
   display: block;
    padding-left: 50px;
    font-family: 'Titillium Web', sans-serif;
    color: #CC3300;
    text-indent: 2px;
    line-height: 2;
    font-size: 15px;
}

.info span {
    font-weight: bold;
}

.phone{    
    display: inline-block;
    margin-left: -30px;
   
    width: 200px;   
}

.mail{      
    margin-left: 5%;
    width: 200px;
   
}
#tel {
    margin-left: 5px;
    /*margin-top: -32px;*/
    color: #CC3300;
}

#thank {
    text-align: center;
    font-size: 25px;    
}
#dtext {
    text-align: center;
    font-size: 20px;
}

/*----------Images----------*/


#desc {
    margin-top: 200px;
    margin-left: -50px;
}
#exec {
    font-weight: bold;
}

#map {
    position: relative;
    width: 100%;       
    border-style: solid;
    border-color: #00A351;
    position: relative;
}

#mail {
    float: left;
    height: 20px;
    width: 20px;    
}
#phone {    
   float: left;
    height: 40px;
    width: 40px;    
    margin-top: 5px;
}
#donate {
    position: relative;   
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: solid;
    border-color: #00A351;
}
