﻿@model IEnumerable<SunnyRent.Models.House>
@{
    ViewBag.Title = "Cottages";
}
<link rel="stylesheet" runat="server" media="screen" href="~/Content/myCss.css" />
<h2>Cottages</h2>
@foreach (var house in Model)
{
    <div class="row" id="wholeDiv">
        <div class="col-md-4">
           
        <img style="width:350px; height:250px" src="~/Photoes/cottages/@Url.Content(house.Image[0].ImagePath)" />

        </div>
        <div class="col-md-4">
            <h3>@house.Name</h3>
            <h4>@house.Address</h4>
            <div class="divIcons">
                @if (house.Pet)
                {
                    <img class="myIcons" src="~/Photoes/dog.png" />
                }

                @if (house.TV)
                {
                    <img class="myIcons" src="~/Photoes/television.png" />
                }

                @if (house.WiFi)
                {
                    <img class="myIcons" src="~/Photoes/wifi.png" />
                }

                @if (house.BBQ)
                {
                    <img class="myIcons" src="~/Photoes/bbq.png" />
                }

                @if (house.AccessToWater)
                {
                    <img class="myIcons" src="~/Photoes/sea.png" />
                }

                @if (!house.Smoking)
                {
                    <img class="myIcons" src="~/Photoes/no-smoking-sign.png" />
                }

                @if (house.Pool)
                {
                    <img class="myIcons" src="~/Photoes/swimming-pool.png" />
                }

                @if (house.FirePlace)
                {
                    <img class="myIcons" src="~/Photoes/fireplace.png" />
                }

            </div>
        </div>
        <div class="col-md-4" style="padding-left:5%">
            <h2>@house.Rate$/week</h2>
            <h3>@Html.ActionLink("Details", "Details", "Houses", new { id = house.Id }, new { @class = "btn btn-primary button" })</h3>
            <h3>@Html.ActionLink("Edit", "Edit", "Houses", new { id = house.Id }, new { @class = "btn btn-primary button" })</h3>
            <h3>@Html.ActionLink("Delete", "Delete", "Houses", new { id = house.Id }, new { @class = "btn btn-primary button" })</h3>
        </div>
    </div>

}

<br />
<p>@Html.ActionLink("Add New Cottage", "New", "Houses", null, new { @class = "btn btn-default buttonAdd" }) </p>
