﻿@model SunnyRent.Models.House
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Delete Record</h3>
<h4>Are you sure you want to delete this Record?</h4>
<div>
    <dl>
        <dt>@Html.DisplayNameFor(h => h.Name)</dt>
        <dd>@Html.DisplayFor(h => h.Name)</dd>

        <dt>@Html.DisplayNameFor(h => h.HouseType.Type)</dt>
        <dd>@Html.DisplayFor(h => h.HouseType.Type)</dd>

        <dt>@Html.DisplayNameFor(h => h.Address)</dt>
        <dd>@Html.DisplayFor(h => h.Address)</dd>

        <dt>@Html.DisplayNameFor(h => h.Rate)</dt>
        <dd>@Html.DisplayFor(h => h.Rate)$/week</dd>
    </dl>
</div>
@using (Html.BeginForm())
{
<div class="form-group">
    <input type="submit" value="Delete" class="btn btn-danger" /> 
    @Html.ActionLink("Back to list", "Cottages", "Houses", null, new { @class = "btn btn-primary" })
</div>
}


