﻿@model SunnyRent.ViewModel.HouseReservationViewModel
@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" runat="server" media="screen" href="~/Content/myCss.css" />

<div class="row">
    <div class="col-md-9 firstCell">
        <div class="container" style="width:95%">
            <h2>@Model.House.Name</h2>
            @*<div class="col-md-4">*@
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active ">
                            <img src="~/Photoes/cottages/@Url.Content(@Model.House.Image[0].ImagePath)" alt="image1" style="width:800px; height:600px">
                            @*<img src="" alt="Los Angeles" style="width:800px; height:600px">*@
                        </div>

                        <div class="item ">
                            <img src="~/Photoes/cottages/@Url.Content(@Model.House.Image[1].ImagePath)" alt="image2" style="width:800px; height:600px">
                            @*<img src="" alt="Chicago" style="width:800px; height:600px">*@
                        </div>

                        <div class="item ">
                            <img src="~/Photoes/cottages/@Url.Content(@Model.House.Image[2].ImagePath)" alt="image3" style="width:800px; height:600px">
                            @*<img src="" alt="New york" style="width:800px; height:600px">*@
                        </div>

                        <div class="item ">
                            <img src="~/Photoes/cottages/@Url.Content(@Model.House.Image[3].ImagePath)" alt="image4" style="width:800px; height:600px">
                            @*<img src="" alt="New york" style="width:800px; height:600px">*@
                        </div>
                    </div>



                    Left and right controls
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            @*</div>*@
        </div>
    </div>
    <div class="col-md-3 secondCell">
        <div class="descrip">
            <h3>Description</h3>
            <p>
                @Model.House.Description
            </p>
        </div>
    </div>

    <div class="row thirdCell">
        <div class="col-md-4">
            <h3>Location</h3>
            <p>
                @Model.House.Address
            </p>
        </div>
        <div class="col-md-4">
            <h3>Rates</h3>
            <p>
                @Model.House.Rate $/week
            </p>
        </div>
        <div class="col-md-4">
            <h3>Availability</h3>

            <p>
                @*
               @Html.TextBox("CheckIn", String.Format("{0:d}", Model.ToString()),
        new { @class = "datefield", id = "datepicker", type = "date" })


                   @using (Html.BeginForm())
                   {
                       @Html.EditorFor(r => r.Reservations, new { HtmlTextWriterAttribute = new { @class = "datefield" } })
                   }
                *@
            </p>
             <p>Date: <input type="text" class="datefield" id="datepicker"></p>
        </div>
    </div>
    <div class="row" >
        <div id="bookNow">

            @*<input type="submit" class="btn btn-success btn-lg btn-block" value="Book" />*@
            <h3> @Html.ActionLink("Book", "Book", "Reservations", new { id = Model.House.Id }, new { @class = "btn btn-success btn-lg bookbtn" })</h3>
        </div>
      
    </div>
</div>



<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

<link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
      rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
      rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
      rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.ui.datepicker.min.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DatePickerReady.js")"
        type="text/javascript"></script>



@{
    var bookedDates = new List<String>();
    foreach (var res in Model.Reservations)
    {
        var checkIn = res.CheckIn;
        var checkOut = res.CheckOut;
        bookedDates.Add(checkIn.Date.ToString("d"));

        int d = (checkOut.Day - checkIn.Day);

        for (var i = 0; i <= d; i++)
        {
            var date = checkIn.AddDays(i);
            bookedDates.Add(date.Date.ToString("d"));
            
        }
    }
    bookedDates.ToArray();
    }

    @section scripts{
        <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

        <script>           
            var array = @Html.Raw(Json.Encode(bookedDates))
            
            $(function () {
                $(".datefield").datepicker(
                    {
                        dateFormat: "dd/mm/yy",
                        // minDate: 20, maxDate: "+1M +10D"
                        beforeShowDay: function (date) {
                            var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                            return [array.indexOf(string) == -1]
                        }

                    });
            });

        </script>

    }


