﻿@model SunnyRent.ViewModel.HouseFormViewModel
@{
    ViewBag.Title = "HouseForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Save", "Houses"))
{
    <div class="form-group" style="margin-top:3%;">
        @Html.LabelFor(h => h.House.Name)
        @Html.TextBoxFor(h => h.House.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(h => h.House.Rate)
        @Html.TextBoxFor(h => h.House.Rate, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(h => h.House.Description)
        @Html.TextBoxFor(h => h.House.Description, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(h => h.House.Address)
        @Html.TextBoxFor(h => h.House.Address, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(h => h.House.HouseType)
        @Html.DropDownListFor(h => h.House.HouseType,
                                                                        new SelectList(Model.HouseTypes, "Id", "Type"),
                                                                        "Select House type", new { @class = "form-control" })
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.TV) Cable TV
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.Pet) Pets allowed
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.BBQ) BBQ
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.FirePlace) Fireplace
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.AccessToWater) Access to water
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.Pool) Pool
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.Smoking) Allowed Smoking
        </label>
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(h => h.House.WiFi) Free Wi-Fi
        </label>
    </div>
}

@using (Html.BeginForm("HouseForm", "Houses", FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
{
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="file" name="uploads" /><br>
    <input type="submit" value="Upload Image" /><br>
}

@using (Html.BeginForm("Save", "Houses"))
{
    <br />
    @Html.ValidationSummary()
    @Html.HiddenFor(h => h.House.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>

}



@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");

}

