/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-Mar-2018, 12:37:28 PM
    Author     : Shush
*/
/******* css for index.php *******/
.contact1 {
    font-family: Verdana;
   margin-left: 160px;
    
}

.title { 
   padding: 0 0 0 20px;  
   display: inline-block;   
   width: 130px;   
}

.input {
    margin-left: 10px;   
    height: 30px;    
}

#text, p {
    font-size: 17px;
}

#note {
   margin-left: 150px; 
   font-size: 12px;
}
#submit {
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
}
#message { 
    margin: 5px 50px 5px 10px;
    vertical-align: text-top;
}

.button {   
    font-size: 16px;
    background-color: #a73439;
    border-radius: 8px;
    padding: 10px 15px;
    
}

#button {
     margin: 10px 0 40px 300px;
}




