@charset "utf-8";
html{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e8ac8a;
    height: auto;
}
#container {
    width: 100%;
    margin: 0 auto;
    height: auto;
    font-family: 'Macondo', cursive;
}
#logoH {    
    width: 100px;
    height: 100px;
}
a:not(#wiki):not(#googleMap){
    color: black;
}
.navbar{
    background: linear-gradient(rgba(156, 59, 53,1), rgba(232, 172, 138,0.3), rgba(156, 59, 53,1)); 
    font-family: 'Macondo', cursive;
    font-size: 22px;
}
.nav-item{
    margin-left: 25px;
    background-color: rgba(253,258,258,0.1);
    border-radius: 8px;
}
.nav-item a:hover {
    background-color: rgba(255, 214, 191,0.35);
    border-radius: 8px;
}
/* ***Article*** */
article{
    clear: both;
}
#leftSideBar{
    width: 18%;
    margin: 0;
    background-color: #e8ac8a;
    height: auto;
    float: left;
} 
#ornament {
    margin: 0;
    float: left;
    width: 100%;
    height: 850px;
}
#main{
    width: 64%;
    margin: 0;
    background-color: rgba(242, 236, 241,0.75);
    height: auto;
    float: left;
    text-align: center;
}
#main h2{
    text-align: center;
}
.mainText{
    padding: 35px;
    font-size: 25px;
}
.mainText h1{
    text-align: center;
}
.thumbnailBox{
    display: inline-block;
    margin: 30px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.thumbnailBox:hover{
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    transform: scale(1.1);   
}
.thumbnail
{
    width: 120px;
    height: 100px;
    float: left;
}
#thumbnailAll{
    margin-left: 80px;
}
.description{
    margin-top: 225px;
    width: 64%;
    height: 60px;
    background:rgba(255,255,255, 0.6);
    text-align: center;
    position: absolute;
    font-size: 24px;
    z-index: 1;
}
.description p{
    margin-top: 15px;
}
#rightSideBar{
    padding: 0 25px 25px 25px;
    width: 18%;
    margin: 0;
    background-color: #e8ac8a;
    height: auto;
    float: right;
}
#rightSideBar h3{
    padding-top: 5%;
    text-align: center;
}
#rightSideBar img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#costOfArms, #map{
    width: 100px;
    height: 100px;
}
video{
    width: 260px;
    height: 210px;
}
/*--Footer--*/
#footer{
    width: 100%;
    background-color: #9c3b35;
    height: auto;
    clear: both;
}
#copy{
    margin: auto;
    text-align: center;
}

/* ***404page*** */
#main404{
    width: 800px;
    border-radius: 8px;
    margin: 50px;
    margin-left: 200px;
    padding: 50px;
    height: auto;
    background-color: #ffffff;
    float: left;
    font-size: 40px; 
}
#ornament404{
    width: 100%;
    height: 850px;
}
#woman{
    margin-left: 250px;
}
#link404{
    display: inline;
}

/* ***About*** */
#mainAbout{
    padding: 40px;
    text-align:justify;
    font-size: 23px; 
    width: 62%;
    margin: 0;
    background-color: rgba(242, 236, 241,0.75);
    height: auto;
    float: left;
}
#mainAbout h2{
    text-align: center;
}
#ornamentR {
    margin: 0;
    width: 100%;
    height: 850px;
}
#rightSideBarAbout{
    width: 18%;
    margin: 0;
    background-color: #e8ac8a;
    height: auto;
    float: right;
}
#breadcrumbAbout{
    width: 62%;
}
/* ***kyufta*** */
.kyuftaInfo, .kyuftaPic{
    padding: 30px;
    font-size: 20px;
}

/* ****Contact**** */
.message {
    margin: 10px 50px 30px 0;
}
#btnMessage {
    margin: 10px 0 40px 430px;
    font-size: 16px;
    background-color: #a73439;
    border-radius: 8px;
    padding: 10px 15px;
}
#btnMessage:hover {
    background-color: #4CAF50;
    color: white;
}
#validName, #validLastName, #validMail, #validPhone, #validMessage {
    color: red;
    font-size: 10px;
    margin-left: 15px;  
}

/* ***Basturma*** */

h4, h5{
    margin-left: 20px; 
}
.kyuftaPic, .basturmaPic {
    float: left; 
    display: block;
    margin: 40px 100px 30px 70px;
}
.kyufta, .basturma {
    position: relative;
    width: 250px;
    height: 250px;
}
.kyuftaInfo, basturmaInfo {   
    display: block;
    margin: 40px 30px 20px;
    line-height: 200%;
    font-size: 20px;
    text-align: justify;
}
/* ***deserts*** */
.menue {
    width: 200px;
    height: 200px;
    margin: 15px 20px;
    float: left;
}
.menue1 {
    width: 200px;
    height: 280px;
    margin: 15px 20px ; 
}
.menue2 {
    width: 300px;
    height: 200px;
    margin: 15px 15px 15px 5px; 
}

/* ***Jams*** */
#jamDescription > p {
    text-align: justify;
}

/******************Breadcrump*******************/
ul.breadcrumb {
    width: 64%;
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(242, 236, 241,0.85);
}
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/************Media query*****************/
@media (max-width:992px){
    #leftSideBar img, #rightSideBar {
        display: none;
    }
    #logoName{
        font-size: 1.5em;
    }
    #logoDescrip{
        font-size: .83em;
    }
    #logoH{
        width:70px;
        height: 70px;
    }
    #main, #mainAbout{
        width: 100%;
        min-height: 823px;
    }
    .kyuftaInfo{
        padding: 5px;
    }
    main{
        margin-left: 5%;
    }
}
/***************french**************/
@media (min-width:992px) and (max-width:1110px){
    #frnav{
        font-size: 99%;
    }
}