﻿
@{
    ViewBag.Title = "Index";
}

<link rel="stylesheet" runat="server" media="screen" href="~/Content/myCss.css" />
<div class="container" style="margin-top:2%">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Photoes/CaruselPhotoes/House.jpg" alt="VIPHouse" style="width:100%; height: 600px">
            </div>

            <div class="item">
                <img src="~/Photoes/CaruselPhotoes/1.jpg" alt="Events" style="width:100%; height: 600px ">
            </div>

            <div class="item">
                <img src="~/Photoes/CaruselPhotoes/PartyHouse.jpg" alt="PartyHouse" style="width:100%; height: 600px">
            </div>

            <div class="item">
                <img src="~/Photoes/CaruselPhotoes/2.jpg" alt="Holidays" style="width:100%; height: 600px">
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <h1 id="offer">What we offer</h1>
    <div id="thumbnailAll">

        <div class="thumbnailBox " style="display:inline-block">
            <img src="~/Photoes/HomePage/Cotages.jpg" alt="Cotages" title="Cotages" class="thumbnail img-fluid" style="width:300px; height: 250px" />
            <h3>@Html.ActionLink("Cottages", "Cottages", "Houses", new { @class = "btn btn-primary " }, null)   </h3>
        </div>


        <div class="thumbnailBox " style="display:inline-block">
            <img src="~/Photoes/HomePage/Condo.jpg" alt="Condo" title="Condo" class="thumbnail img-fluid" style="width:300px; height: 250px" />
            <h3>@Html.ActionLink("Apartments", "Cottages", "Houses", new { @class = "btn btn-primary" }, null)   </h3>
        </div>

        <div class="thumbnailBox " style="display:inline-block">
            <img src="~/Photoes/HomePage/Duplex.jpg" alt="Duplex" title="Duplex" class="thumbnail img-fluid" style="width:300px; height: 250px" />
            <h3>@Html.ActionLink("Houses", "Cottages", "Houses", new { @class = "btn btn-primary" }, null)   </h3>
        </div>

    </div>
</div>

