﻿body {
    background-color: aliceblue;
}

.myIcons {
    width: 50px;
    height: 50px;
    padding-right: 3%;
}

#wholeDiv {
    padding-top: 2%;
}

.divIcons {
    padding-top: 10%;
}

.secondCell {
    float: right;
    text-align: justify;
    padding-top: 5%;
}

.thirdCell {
    clear: both;
    padding-left: 4%;
}

.descrip {
    font-size: 16px;
}

#bookNow {
    padding-left: 45%;
}

.thumbnailBox {
    margin-right: 5%;
    margin-left: 1%;
}

    .thumbnailBox h3 {
        text-align: center;
    }

#offer {
    text-align: center;
    color: darkcyan;
    font-family: 'Book Antiqua';
    text-shadow: 2px 2px 2px #808080;
}

.button {
    width: 200px;
    background-color: darkcyan;
    border-style: none;
}

.buttonAdd {
    background-color: darkcyan;
    border-style: none;
}

#thumbnailAll {
    margin-left: 3%;
}




#bookNow {
    float: right;
}

.bookbtn {
    width: 350px;
}
.txtBoxGuest{
    padding-left:5%;
}