/*@media only screen and (min-device-width: 200px) {   */
/*@media (min-width: 1030px) and (max-device-width: 1200px){
    body{
        background-image:url(images/background.jpg);
        background-repeat:no-repeat;
        background-size:100%;
    }
    input {
	display:none;
    }
    img {
        display:none;
    }
    
    a{
        display:none;
    }
    
    h1 {
        display: block;
        width: 300px;
        background-color: white;
        color: green;
        text-align: center;
        border-radius: 20px;
        text-shadow: 0 0 3px yellow, 0 0 5px yellow;
        box-shadow: 5px 5px 5px grey; 
    }

    h1 span {
        font-size:55%;
        text-shadow: 0 0 1px yellow, 0 0 2px yellow;
    }
    #message {
        position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-shadow: 0 0 3px green, 0 0 5px green;
    background: whitesmoke;
    font-size: 20px;
    text-align: center;   
    font-family: 'Permanent Marker', cursive;
    }
}*/

@media (max-device-width: 1023px){
    body{
        background-image:url(images/background.jpg);
        background-repeat:no-repeat;
        background-size:100%;
    }
    input {
	display:none;
    }
    img {
        display:none;
    }
    
    a{
        display:none;
    }
    
    h1 {
        display: block;
        width: 300px;
        background-color: white;
        color: green;
        text-align: center;
        border-radius: 20px;
        text-shadow: 0 0 3px yellow, 0 0 5px yellow;
        box-shadow: 5px 5px 5px grey; 
    }

    h1 span {
        font-size:55%;
        text-shadow: 0 0 1px yellow, 0 0 2px yellow;
    }
    
    #task, .you-win {
        display:none;
    }
    
    #message {
        position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    text-shadow: 0 0 3px green, 0 0 5px green;
    background: whitesmoke;
    font-size: 20px;
    text-align: center;   
    font-family: 'Permanent Marker', cursive;
    }
}

@media (min-width: 1024px) and (max-device-width: 1024px) {
    #message {
        display: none;
    }
    body{
        background-image:url(images/background.jpg);
        background-repeat:no-repeat;
        background-size:100%;
    }
    
    input {
	display:none;
    }
    
    footer {
        position:fixed;
        top: 35%;
        right: 0;
        height: 60px;
      }
      a {
  display: block;
  width: 100px;
  border: 10px outset white;
  background-color: white;
  color: green;
  text-align: center;
  text-decoration: none;
  margin-right: 100px;
  text-shadow: 0 0 3px yellow, 0 0 5px yellow;
  box-shadow: 5px 5px 5px grey;
}
      
    h3 {
        display: block;
        width: 200px;
        background-color: white;
        color: green;
        text-align: center;
        border-radius: 17px;
        text-shadow: 0 0 2px yellow, 0 0 4px yellow;
        box-shadow: 4px 4px 4px grey; 
      }

    h3 span {
            font-size:47%;
            text-shadow: 0 0 1px yellow, 0 0 2px yellow;
    }
      
    #app1 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 12%;
	margin-left:18%;
	z-index:3
    }
    
    #app2 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 10%;
	margin-left:30%;
	z-index:3
    }
    #app3 {
            position:absolute;
            width: 30px;
            padding-bottom: 30px;
            margin-top: 15%;
            margin-left:33%;
            z-index:3
    }
    #app4 {
            position:absolute;
            width: 30px;
            padding-bottom: 30px;
            margin-top: 12%;
            margin-left:39%;
            z-index:3
    }  
    
    /*Flower*/
label:first-of-type {
  position:absolute;
  top:30%;
  left:5%;
  width: 80px;
  padding-bottom: 140px;
  background: url(images/flower.png);
  background-size: cover;
}
input:checked + label:first-of-type {
  transform: scale(1.3);
}
/*Butterfly*/
label:nth-of-type(2) {
  position:absolute;
  width: 80px;
  padding-bottom: 80px;
  background: url(images/butterfly.png);
  background-size: cover;
  top: 5%;
  right:25%;
  z-index:2;
}
input:checked + label:nth-of-type(2) {
  transform: rotate(270deg);
   animation-name: fly;
    animation-duration: 5s;
    animation-timing-function: linear;
   animation-direction: alternate;
   animation-fill-mode: forwards;
}
@keyframes fly {		
		0% {
			top:5%;
			right:25%;
		}
		25% {
			top:10%;
			right:40%;
		}
		50% {
			top:0%;
			right:50%;
		}
		75% {
			top:10%;
			right:70%;
		}
		100% {
			top:15%;
			right:90%;
		}
	}
	/*net*/
img {
	width:200px;
	position:absolute;
	top: 5%;
    left:12%;
	z-index:-1;
}

#web {
    width:180px;
    position:absolute;
    top: 1%;
    left:9%;
    z-index:-1;
}
/*spider*/
label:nth-of-type(3) {
  position:absolute;
  width: 100px;
 height: 100px;
  padding-bottom: 0px;
  background: url(images/spider.png);
  background-size: 100% 100%;
  top: 5%;
  left:9%;
}
input:checked + label:nth-of-type(3) {
   animation-name: wobble;
   animation:wobble 2s;
   
}
@keyframes wobble{
	15%{
		transform:translateX(-25%) rotate(-5deg);
	}
	30%{
		transform:translateX(20%) rotate(3deg);
	}
	45%{
		transform:translateX(-15%) rotate(-3deg);
	}
	60%{
		transform:translateX(10%) rotate(2deg);
	}
	75%{
		transform:translateX(-5%) rotate(-1deg);
	}
}
/*tree*/
label:nth-of-type(4) {
  position: absolute;
  width: 550px;
  padding-bottom: 300px;
  background: url(images/tree1.png);
  background-size: cover;
  top: 3%;
  left:15%;
}
input:checked + label:nth-of-type(4) {
   animation-name: shake;
   animation:shake 1s;
}
@keyframes shake {
	10%, 30%,50%,70%,90%{
		transform:translateX(-10px);
	}
	20%,40%,60%,80%{
		transform:translateX(10%);
	}
}
/*apple*/
label:nth-of-type(5) {
  position:absolute;
  width: 30px;
  padding-bottom: 30px;
  background: url(images/apple.png) ;
  background-size: cover;
  top: 15%;
  left:37%;
}

input:checked + label:nth-of-type(5) {
   animation-name: falling;
   animation:falling 1s linear;
}
@keyframes falling{
	0%{
		opacity:1;
		transform:translateY(0) rotateZ(0deg);
	}
	75%{
		opacity:1;
		transform:translateY(150px) rotateZ(270deg);
	}
	100%{
	opacity:0;
		transform:translateY(300px) rotateZ(360deg);
	}
}
/*cloud*/
label:nth-of-type(6) {
  position:absolute;
  width: 300px;
  padding-bottom: 150px;
  background: url(images/cloud.png) ;
  background-size: cover;
  top: 0%;
  left:37%;
}
input:checked + label:nth-of-type(6) {
   animation-name: opacity;
   opacity:0;
   transition:opacity 2s linear;
}
@keyframes opacity{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.5;
	}
	100%{
	opacity:0;
	}
}
/* evaluation of a men */

label:nth-of-type(7) {
  position:absolute;
  width: 160px;
  padding-bottom: 105px;
  background: url(images/1.png);
  background-repeat: no-repeat;  
  top: 18%;
  left: 15%;    
}
input:checked + label:nth-of-type(7) {
    animation-name: evaluation;
    animation-duration: 10s;
    animation-timing-function: linear;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}
@keyframes evaluation {
	0% {
		top: 18%;
		left: 15%;
		background: url(images/1.png);
		background-repeat: no-repeat;
		padding-bottom: 105px;		
	}
	20% {
		top: 18%;
		left: 25%;
		background: url(images/2.png);
		background-repeat: no-repeat;
		padding-bottom: 142px;
	}
	40% {
		top: 20%;
		left: 35%;
		background: url(images/3.png);
		background-repeat: no-repeat;
		padding-bottom: 210px;
	}
	60% {
		top: 20%;
		left: 43%;
		background: url(images/4.png);
		background-repeat: no-repeat;
		width: 160px;
		padding-bottom: 210px;
	}
	80% {
		top: 18%;
		left: 53%;
		background: url(images/5.png);
		background-repeat: no-repeat;
		padding-bottom: 210px;
	}
	100% {
		top: 18%;
		left: 57%;
		background: url(images/6.png);
		background-repeat: no-repeat;
		
		padding-bottom: 210px;
	}
	
}
/*------jumping zaya---*/
input:checked + label:nth-of-type(8) {
	animation-name: zaya;
    animation-duration: 10s;
    animation-timing-function: linear;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}
label:nth-of-type(8) {
  position: absolute;
  width: 120px;
  padding-bottom: 120px;
  background: url(images/shack.png);
  background-repeat: no-repeat;  
  top: 25%;
  right: 20%;    
}
@keyframes zaya {	
	0% {
		top: 26%;
		right: 20%;
		background: url(images/shack.png);
		background-repeat: no-repeat;		
	}
	10%, 14%, 18%{
	transform:translateX(-10px);
	}
	12%, 16%, 20%{
	transform:translateX(10%);
	}
	25% {
		top: 26%;
		right: 23%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
	}
	30% {
		top: 22%;
		right: 53%;
		background: url(images/zaya.png);
		background-repeat: no-repeat;		
	}
	45% {
		top: 20%;
		right: 40%;
		background: url(images/zaya.png);
		background-repeat: no-repeat;		
}
	60% {
		top: 20%;
		right: 35%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;				
	}
	85% {
		top: 18%;
		right: 70%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
	}
	100% {
		top: 17%;
		right: 73%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
		transform: scale(0.3);		
	}
}

.you-win {
		width:100%;
		text-align:center;
		font-size:100px;
		color:yellow;
		z-index:9999999;
		visibility:hidden;
		text-shadow:1px 2px #111;
		font-family: 'Permanent Marker', cursive;
		font-family: 'Monoton', cursive;
		animation-name:win;
}


input:checked + label:nth-of-type(8) ~ .you-win {
	visibility:visible;
	animation-name: win;
	opacity:0;
	transition:opacity 4s linear;
	 animation-iteration-count: 5;
}
@keyframes win {
	0%{
		opacity:0.1;		
	}
	25% {
		opacity:0.4;
	}
	50%{
		opacity:0.7;
	}
	75% {
		opacity:0.9;
	}
	100%{
	opacity:1;
	}
}

}


@media (min-width: 1600px){
     #message {
        display: none;
    }
    
    #web {
    width:180px;
    position:absolute;
    top: 1%;
    left:10%;
    z-index:-1;
    }
body{
    background-image:url(images/background.jpg);
    background-repeat:no-repeat;
    background-size:100%;
}
/* code added so the radio button does not display */
input {
	display:none;
}
/* code added for a play again button */
footer {
  position:fixed;
  bottom: 0;
  right: 0;
  height: 60px;
}
#app1 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 20%;
	margin-left:32%;
	z-index:3
}
#app2 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 17%;
	margin-left:34%;
	z-index:3
}
#app3 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 19%;
	margin-left:42%;
	z-index:3
}
#app4 {
	position:absolute;
	width: 30px;
	padding-bottom: 30px;
	margin-top: 21%;
	margin-left:36%;
	z-index:3
}    
a {
  display: block;
  width: 100px;
  border: 10px outset white;
  background-color: white;
  color: green;
  text-align: center;
  text-decoration: none;
  margin-right: 100px;
  text-shadow: 0 0 3px yellow, 0 0 5px yellow;
  box-shadow: 5px 5px 5px grey;
}
h1 {
  display: block;
  width: 300px;
  background-color: white;
  color: green;
  text-align: center;
  border-radius: 20px;
  text-shadow: 0 0 3px yellow, 0 0 5px yellow;
  box-shadow: 5px 5px 5px grey; 
}

h1 span {
	font-size:55%;
	text-shadow: 0 0 1px yellow, 0 0 2px yellow;
}

/*      end of code added    */
/*Flower*/
label:first-of-type {
  position:absolute;
 top:70%;
  left:5%;
  width: 80px;
  padding-bottom: 140px;
  background: url(images/flower.png);
  background-size: cover;
}
input:checked + label:first-of-type {
  transform: scale(3);
}
/*Butterfly*/
label:nth-of-type(2) {
  position:absolute;
  width: 80px;
  padding-bottom: 80px;
  background: url(images/butterfly.png);
  background-size: cover;
  top: 15%;
  right:26%;
  z-index:2;
}
input:checked + label:nth-of-type(2) {
  transform: rotate(270deg);
   animation-name: fly;
    animation-duration: 5s;
    animation-timing-function: linear;
   animation-direction: alternate;
   animation-fill-mode: forwards;
}
@keyframes fly {		
		0% {
			top:15%;
			right:26%;
		}
		25% {
			top:10%;
			right:40%;
		}
		50% {
			top:0%;
			right:50%;
		}
		75% {
			top:10%;
			right:70%;
		}
		100% {
			top:15%;
			right:90%;
		}
	}
	/*net*/
img {
	width:200px;
	position:absolute;
	top: 5%;
    left:12%;
	z-index:-1;
}
/*spider*/
label:nth-of-type(3) {
  position:absolute;
  width: 100px;
 height: 100px;
  padding-bottom: 0px;
  background: url(images/spider.png);
  background-size: 100% 100%;
  top: 14%;
  left:15%;
}
input:checked + label:nth-of-type(3) {
   animation-name: wobble;
   animation:wobble 2s;
   
}
@keyframes wobble{
	15%{
		transform:translateX(-25%) rotate(-5deg);
	}
	30%{
		transform:translateX(20%) rotate(3deg);
	}
	45%{
		transform:translateX(-15%) rotate(-3deg);
	}
	60%{
		transform:translateX(10%) rotate(2deg);
	}
	75%{
		transform:translateX(-5%) rotate(-1deg);
	}
}
/*tree*/
label:nth-of-type(4) {
  position: absolute;
  width: 550px;
  padding-bottom: 300px;
  background: url(images/tree1.png);
  background-size: cover;
  top: 26%;
  left:32%;
}
input:checked + label:nth-of-type(4) {
   animation-name: shake;
   animation:shake 1s;
}
@keyframes shake {
	10%, 30%,50%,70%,90%{
		transform:translateX(-10px);
	}
	20%,40%,60%,80%{
		transform:translateX(10%);
	}
}
/*apple*/
label:nth-of-type(5) {
  position:absolute;
  width: 30px;
  padding-bottom: 30px;
  background: url(images/apple.png) ;
  background-size: cover;
  top: 43%;
  left:50%;
}

input:checked + label:nth-of-type(5) {
   animation-name: falling;
   animation:falling 1s linear;
}
@keyframes falling{
	0%{
		opacity:1;
		transform:translateY(0) rotateZ(0deg);
	}
	75%{
		opacity:1;
		transform:translateY(150px) rotateZ(270deg);
	}
	100%{
	opacity:0;
		transform:translateY(300px) rotateZ(360deg);
	}
}
/*cloud*/
label:nth-of-type(6) {
  position:absolute;
  width: 370px;
  padding-bottom: 150px;
  background: url(images/cloud.png) ;
  background-size: cover;
  top: 0%;
  left:40%;
}
input:checked + label:nth-of-type(6) {
   animation-name: opacity;
   opacity:0;
   transition:opacity 2s linear;
}
@keyframes opacity{
	0%{
		opacity:1;
	}
	50%{
		opacity:0.5;
	}
	100%{
	opacity:0;
	}
}
/* evaluation of a men */

label:nth-of-type(7) {
  position:absolute;
  width: 160px;
  padding-bottom: 105px;
  background: url(images/1.png);
  background-repeat: no-repeat;  
  top: 55%;
  left: 15%;    
}
input:checked + label:nth-of-type(7) {
    animation-name: evaluation;
    animation-duration: 10s;
    animation-timing-function: linear;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}
@keyframes evaluation {
	0% {
		top: 55%;
		left: 15%;
		background: url(images/1.png);
		background-repeat: no-repeat;
		padding-bottom: 105px;		
	}
	20% {
		top: 50%;
		left: 25%;
		background: url(images/2.png);
		background-repeat: no-repeat;
		padding-bottom: 142px;
	}
	40% {
		top: 50%;
		left: 35%;
		background: url(images/3.png);
		background-repeat: no-repeat;
		padding-bottom: 210px;
	}
	60% {
		top: 45%;
		left: 45%;
		background: url(images/4.png);
		background-repeat: no-repeat;
		width: 160px;
		padding-bottom: 210px;
	}
	80% {
		top: 45%;
		left: 55%;
		background: url(images/5.png);
		background-repeat: no-repeat;
		padding-bottom: 210px;
	}
	100% {
		top: 55%;
		left: 60%;
		background: url(images/6.png);
		background-repeat: no-repeat;
		
		padding-bottom: 210px;
	}
	
}
/*------jumping zaya---*/
input:checked + label:nth-of-type(8) {
	animation-name: zaya;
    animation-duration: 10s;
    animation-timing-function: linear;
	animation-direction: alternate;
	animation-fill-mode: forwards;
}
label:nth-of-type(8) {
  position: absolute;
  width: 120px;
  padding-bottom: 120px;
  background: url(images/shack.png);
  background-repeat: no-repeat;  
  top: 70%;
  right: 24%;    
}
@keyframes zaya {	
	0% {
		top: 83%;
		right: 24%;
		background: url(images/shack.png);
		background-repeat: no-repeat;		
	}
	10%, 14%, 18%{
	transform:translateX(-10px);
	}
	12%, 16%, 20%{
	transform:translateX(10%);
	}
	25% {
		top: 83%;
		right: 27%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
	}
	30% {
		top: 70%;
		right: 55%;
		background: url(images/zaya.png);
		background-repeat: no-repeat;		
	}
	45% {
		top: 60%;
		right: 40%;
		background: url(images/zaya.png);
		background-repeat: no-repeat;		
}
	60% {
		top: 67%;
		right: 35%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;				
	}
	85% {
		top: 60%;
		right: 70%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
	}
	100% {
		top: 52%;
		right: 73%;
		background: url(images/zaya0.png);
		background-repeat: no-repeat;		
		transform: scale(0.3);		
	}
}

.you-win {
		width:100%;
		text-align:center;
		font-size:100px;
		color:yellow;
		z-index:9999999;
		visibility:hidden;
		text-shadow:1px 2px #111;
		font-family: 'Permanent Marker', cursive;
		font-family: 'Monoton', cursive;
		animation-name:win;
}


input:checked + label:nth-of-type(8) ~ .you-win {
	visibility:visible;
	animation-name: win;
	opacity:0;
	transition:opacity 4s linear;
	 animation-iteration-count: 5;
}
@keyframes win {
	0%{
		opacity:0.1;		
	}
	25% {
		opacity:0.4;
	}
	50%{
		opacity:0.7;
	}
	75% {
		opacity:0.9;
	}
	100%{
	opacity:1;
	}
}
}