body {
    background-image: url(images/start.jpg);
    background-repeat: no-repeat;
    background-width: 100%;
    background-height: 100%; 
}
header {
    display: inline-block;
    width: 800px;
    color: white;
    text-shadow: 0 0 3px yellow, 0 0 5px yellow;
    margin: 2% 5% 0% 5%;
    font-size: 65px;
    text-align: center;
}
#discription {
    position: relative;
    display: inline-block;
    width: 600px;
    height: 300px;
    text-shadow: 0 0 3px yellow, 0 0 5px yellow;
    font-size: 35px;
    text-align: justify;
    margin-left: 50%;
    margin-top: 5%;
    font-family: 'Permanent Marker', cursive;
}
p:nth-of-type(2) {
    text-align: center;
}
div {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 80px;
    box-shadow: inset 0px 0px 14px -3px #f2fadc;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #b2b8ad;
    cursor: pointer;
    color: #757d60;
    font-family: 'Permanent Marker', cursive;
    font-size: 35px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 1px 2px 1px #ced9bf;
    margin: 10% 0% 5% 63%;
}
span {
    font-family: 'Permanent Marker', cursive;
    font-family: 'Monoton', cursive;
    word-spacing: 12px;
}