﻿@using Microsoft.AspNet.Identity
@model SunnyRent.ViewModel.ReservationFormViewModel
@{
    ViewBag.Title = "Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Fill all fields to make a Reservation</h2>
<br />
@using (Html.BeginForm())
{
    //check In
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.CheckIn, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Reservation.CheckIn, new { htmlAttributes = new { @class = "form-control", @id = "datetimepicker" } })
        @Html.ValidationMessageFor(model => model.Reservation.CheckIn, "", new { @class = "text-danger" })
    </div>

    //check Out
    <div class="form-group">
        @Html.LabelFor(model => model.Reservation.CheckOut, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.Reservation.CheckOut, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Reservation.CheckOut, "", new { @class = "text-danger" })

    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Reservation.NumberOfGuests)
        @Html.TextBoxFor(r => r.Reservation.NumberOfGuests, new { @class = "control-label col-md-2" })
    </div>


    
    @Html.HiddenFor(r => r.House.Id)
    @Html.HiddenFor(r => r.Reservation.CustomerName )
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary button">Save</button>

}

<script>
    $("#calendarCheckIn").kendoDateTimePicker({
    value: Date(2018,08,14),
        disableDates: [new Date(2018, 8, 12), new Date(2018, 8, 13)]

});
</script>

