/* Hang Man game project */
/* Created on : Jan 15, 2018, 8:48:23 AM 
    Author : Shushan Artenyan */
 canvas {
     border: 1px dotted black;
}
 #a {
     color: #004d4d;
}
 #questionbtn {
     position: absolute;
     margin-left: 600px;
     margin-top: -500px;
}
 .btn {
     margin-left: 50px;
     cursor: pointer;
     text-align: center;
     background-color: #00b3b3;
     padding: 10px 24px;
     border-radius: 12px;
     border: 2px solid #004d4d;
     font-family: Verdana;
}
 #questionTxt {
     margin-left: 650px;
     margin-top: -400px;
     font-family: Arial;
     font-size: 40px;
     color: #ff794d;
}
 #answerTxt {
     margin-left: 630px;
     margin-top: 60px;
}
 .answerLine {
     margin-left: 35px;
}
 .divLetter1, .divLetter2, .divLetter3 {
     margin-left: 650px;
     margin-top: 10px;
}
 .letter {
     width: 35px;
     margin-left: 10px;
     text-align: center;
     background-color: #00b3b3;
     border-radius: 7px;
     cursor: pointer;
}
 .divLetter1 {
     margin-top: 180px;
}
 .gameOver {
     float: right;
     font-size: 100px;
     color: red;
     padding-right: 100px;
     margin-top: -150px;
}
